<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/mycss.css">
    </head>
    <body ng-controller="questionController">
        <div class="quest" ng-class="questColorClass" ng-mouseenter="changeClass($event)" ng-mouseleave="changeClass($event)">
            <h3>{{question.text}}</h3>
            <p>{{question.author}}</p>
            <p><i>{{question.date}}</i></p>
        </div> 
        <div class="answers">
            <div ng-repeat="answer in question.answers | orderBy:sortparam | limitTo:5" class="answer">
                <a href="" ng-click="voteUp(answer)">Vote up</a>
                <span class="rate">{{answer.rate}}</span>
                <a href="" ng-click="voteDown(answer)">Vote down</a>
                <br/>
                <b>{{answer.text}}</b>
                <p>{{answer.author}}</p>
                <p><i>{{answer.date}}</i></p>
            </div>
        </div>
        <br/>
        <select ng-model="answer.author">
            <option ng-repeat="answer in question.answers">{{answer.author}}</option>
        </select>
        <select>
            <option ng-repeat="selected_answer in question.answers | filter:answer ">{{selected_answer.date}}</option>
        </select>
        <br/>
        <br/>
        <input type="text" ng-model="member" placeholder="Enter the author...">
        <div ng-repeat="ans in question.answers | filter:{author:member}">
            <br/>
            <b>{{ans.text | uppercase}}</b>
            <p>{{ans.author}}</p>
            <p><i>{{ans.date}}</i></p>
        </div>
       
        <script src="js/lib/angular.min.js"></script>
        <script>
            var myApp = angular.module("myApp", []);
        </script>
        <script src="js/dataService.js"></script>
        <script src="js/controllers/questionController.js"></script>
        <script>
            var quest = angular.element(document.querySelector('.quest'));
            var questHeader = quest.find('h3');
            questHeader.css('color', 'blue');
            questHeader.addClass('header');
        </script>
    </body>
</html>
