<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/mycss.css">
    </head>
    <body>
        <div ng-controller="phoneController">
            <div ng-repeat="button in modes">
                <label>
                    <input type="radio" ng-model="data.mode" value="{{button.value}}" name="modes">
                    {{button.label}}
                </label>
            </div>
            <!--<div ng-include="setFile()"></div>-->
            <div ng-switch on="data.mode">
                <div ng-switch-when="Tablets">
<!--                    <ul>
                        <li ng-repeat="tablet in tablets">
                            <b>{{tablet.name}}</b>
                            <p>Price: {{tablet.price}}</p>
                            <p>Company: {{tablet.company}}</p>
                        </li>
                    </ul>-->
                    <ng-include src="'tabletList.html'"></ng-include>
                </div>
                <div ng-switch-when="Phones">
<!--                    <ul>
                        <li ng-repeat="phone in phones">
                            <b>{{phone.name}}</b>
                            <p>Price: {{phone.price}}</p>
                            <p>Company: {{phone.company}}</p>
                        </li>
                    </ul>-->
                    <ng-include src="'phoneList.html'"></ng-include>
                </div>
                <div ng-switch-default>
                    Select type of products
                </div>
                <input type="checkbox" ng-model="data2.visible">Show/hide
                <p ng-if="data2.visible">First</p>
                <p ng-if="!data2.visible">Second</p>
                <div ng-style="mystyle">test1</div>
                <div ng-class="myclass">test2</div>
            </div>
        </div>
        <script src="js/lib/angular.min.js"></script>
        <script type="text/javascript">
            var myApp = angular.module("myApp", []);
        </script>
        <script src="js/controllers/phoneController.js"></script>
    </body>
</html>
