<!DOCTYPE html>
<html ng-app="myApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div ng-controller="phoneController">
            <ul>
                <li ng-repeat="company in phones">
                    <p>Phone: {{company.name}}</p>
                    <ul ng-repeat="model in company.models">
                        <b>{{model.name}}</b>
                        <p>Price: {{model.price}}</p>
                    </ul>
                </li>
            </ul>
        </div>
        <script src="js/lib/angular.min.js"></script>
        <script type="text/javascript">
            var myApp = angular.module("myApp", []);
        </script>
        <script src="js/controllers/phoneController.js"></script>
    </body>
</html>
